<div>

    <div stickyToolbar class="main-toolbar">
        <div class="main-toolbar-group-left main-toolbar-group-start">
            <div class="main-toolbar-title"> {{ title }} </div>
        </div>
        <div class="main-toolbar-group-right main-toolbar-group-end gap-2">
            <button kendoButton (click)="calc()" themeColor="primary" [disabled]="!canCalc"> {{ calcLabel }} </button>
            <button kendoButton (click)="submitTo()" themeColor="success" [disabled]="!canSubmitTo"> {{ submitedLabel }} </button>
            <button kendoButton (click)="retrieve()" themeColor="info" [disabled]="!canRetrieve"> {{ importLabel }} </button>
        </div>
    </div>

    <div class="k-gradient p-3 mb-3">
        <form [formGroup]="searchForm" class="k-form k-form-vertical">
            <formly-form [form]="searchForm" [model]="searchModel" [fields]="searchFields" [options]="searchOptions" (modelChange)="modelChangeEvent($event)"></formly-form>
        </form>
    </div>

    <div *ngIf="dataSource" [@animationState]="animate ? 'active' : 'inactive'">

        <kendo-grid #table
                    [groupable]="false"
                    [group]="group"
                    [resizable]="true"
                    [data]="dataSource"
                    (edit)="editHandler($event)"
                    (remove)="removeHandler($event)"
                    (add)="addHandler()">
            <ng-template kendoGridToolbarTemplate>

                <button kendoGridAddCommand themeColor="success"> {{ insertLabel }} </button>
                <kendo-grid-spacer></kendo-grid-spacer>
                <button kendoGridExcelCommand themeColor="warning"> Excel </button>
                <button kendoButton (click)="table.autoFitColumns()" themeColor="warning" icon="arrows-resizing" [title]="autofitColumnsLabel"></button>
                <kendo-grid-column-chooser></kendo-grid-column-chooser>
            </ng-template>

            <kendo-grid-column *ngFor="let column of columns"
                               [field]="column.field"
                               [title]="column.title"
                               [format]="column.format"
                               [style]="column.style">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex" let-col="column">
                    <ng-container [ngSwitch]="column.fieldType">
                        <span *ngSwitchCase="'checkbox'" class="checkbox-column">
                            <span class="k-icon k-icon-lg" [ngClass]="{'k-i-minus-outline k-color-error': !dataItem[col.field], 'k-i-check-circle k-color-success': dataItem[col.field]}"></span>
                            &nbsp;<span style="font-size:14px;">{{ dataItem[col.field] === true ? yesLabel : noLabel}}</span>
                        </span>
                        <div *ngSwitchCase="'decimal'" class="decimal-column">
                            {{ dataItem[col.field] | kendoNumber: '#,##0.00' }}
                        </div>
                        <div *ngSwitchDefault>
                            {{dataItem[col.field]}}
                        </div>
                    </ng-container>
                </ng-template>
                <ng-template *ngIf="column.fieldType === 'decimal'" kendoGridGroupFooterTemplate let-aggr="aggregates" let-col="column">
                    <div style="text-align: right;"> {{ aggr[col.field].sum | kendoNumber: '#,##0.00' }} </div>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-command-column [width]="120">
                <ng-template kendoGridCellTemplate>
                    <button kendoGridEditCommand themeColor="warning" icon="edit" size="small"></button>
                    <button kendoGridRemoveCommand themeColor="error" icon="delete" size="small"></button>
                </ng-template>
            </kendo-grid-command-column>
            <kendo-grid-excel [fileName]="excelFileName"></kendo-grid-excel>
        </kendo-grid>

    </div>

</div>

<listingF5-dialog [model]="listModel" [fields]="dialogLabels" [isNew]="isNew" (save)="saveHandler($event)" (cancel)="cancelHandler()"></listingF5-dialog>
