
<form-list [uow]="uow"
           [pathUrl]="pathUrl"
           [multipleDelete]="true"
           [loadDataBy]="undefined"
           [infoModel]="infoInputs?.model"
           [queryParams]="queryParams"
           (onLoadProperties)="loadPropertiesEvent($event)">

    <ng-template pTemplate="toolbar">

        <div *ngIf="infoInputs" class="k-gradient p-3 mb-3">
            <form [formGroup]="infoInputs.form" class="k-form k-form-vertical">
                <formly-form [form]="infoInputs.form" [model]="infoInputs.model" [fields]="infoInputs.fields" [options]="infoInputs.options" (modelChange)="modelChangeEvent($event)"></formly-form>
            </form>
        </div>

    </ng-template>

</form-list>
