.softone-project-detail .k-grid-footer td[role=gridcell] {
    text-align: right;
}
.softone-project-detail .decimal-column.negative {
    color: #ff0000;
}
.softone-project-detail .decimal-column.great-than-zero {
    font-weight: 600;
}

