<form-list [uow]="uow"
           [toExcelButtonVisible]="true"
           [toPdfButtonVisible]="false"
           [pathUrl]="pathUrl"
           [filterButtonVisible]="true"
           [settingsMenuItems]="settingsMenuItems"
           (onFilterInputsChange)="filterInputsChange($event)"
           (onColumnButtonClick)="columnButtonClick($event)">

    <div *ngIf="filterInputs" style="border: 1px solid #ebebeb; padding: 10px 10px 0; margin-bottom: 1rem;">
        <form [formGroup]="filterInputs.form" class="k-form k-form-horizontal">
            <formly-form [form]="filterInputs.form" [model]="filterInputs.model" [fields]="filterInputs.fields" [options]="filterInputs.options"></formly-form>
        </form>
    </div>

</form-list>
