.box-shadow {
    border: 1px solid rgba(67, 69, 96, 0.1);
    border-radius: 4px;
}
.k-listview {
    font-family: sans-serif;
    width: 400px;
    margin: 10% auto;
}

.header,
.footer {
    color: #a0a0a0;
    font-size: 16px;
    padding: 6px 10px;
}

.contact {
    width: 100%;
}
.contact {
    display: flex;
    height: 55px;
    padding: 10px;
    align-items: center;
}

    .contact.border-top {
        border-top: solid;
        border-color: #ecebeb;
        border-width: thin;
    }

.contact-details {
    flex: 1;
    margin-left: 10px;
}

.contact-name {
    color: #656565;
    font-weight: bolder;
}

.contact-email {
    font-size: 0.7rem;
    color: #bebebe;
}

.messages-label {
    height: 20px;
    width: 95px;
    font-size: 11px;
    line-height: 11px;
    text-transform: none;
}